/* Responsive as per screen size of Medium devices (768px to 992px) */

@media (min-width:768px) and (max-width:992px){
    

    #about {
        height: 25vw;
        flex-wrap: wrap;
    }

    .card {
        width: 45%;
        height: 45%;
    }
}

/* Responsive as per screen size of Smaller and mini devices (768px and below) */

@media (max-width:768px){
    #carousal {
        flex-wrap: wrap;
        height: 150vw;
    }

    #left {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #left h1 {
        font-size: 13vw;
    }

    #left p {
        font-size: 4vw;
    }

    #crs-btn {
        height: 8vw;
        font-size: 3vw;
        width: 55%;
        padding: 3% 10%;
    }

    #right {
        width: 50%;
        height: 50%;
        margin: auto;
    }

    #about {
        height: 120vw;
        flex-wrap: wrap;
    }

    .card {
        width: 100%;
        height: 22%;
    }

    .card h2 {
        font-size: 3.5vw;
    }
    
    .card p {
        font-size: 3vw;
    }

    #article {
        height: 130vw;
        flex-wrap: wrap;
    }

    #left-art {
        width: 100%;
        height: 50%;
    }

    #right-art {
        width: 100%;
        height: 50%;
    }

    #right-art-content {
        width: 90%;
        height: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #right-art-content #head h1 {
        font-size: 6vw;
    }

    #right-art-content #head p {
        font-size: 5vw;
    }

    #right-art-content #content #one {
        font-size: 2.5vw;
    }

    #right-art-content #reference #two {
        font-size: 2.5vw;
    }

    #right-art-content #button {
        width: 50%;
        height: 6vw;
        border: 1px solid black;
        font-size: 2.5vw;
        padding: 2% 10%;
        color: white;
        background-color: #3a7c9c;
    }

    .four {
        height: 75vw;
    }

    .para-one {
        font-size: 5vw;
    }

    .para-two {
        font-size: 12vw;
    }

    .para-three {
        font-size: 2.5vw;
    }

    .container .btn {
        width: 40%;
        height: 6vw;
        font-size: 3vw;
        padding: 1% 5%;
    }

    #article-two {
        height: 140vw;
        flex-wrap: wrap;
    }

    #left-two {
        width: 100%;
        height: 50%;
    }

    #right-two {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #head-one p {
        font-size: 6vw;
    }

    #content-one p {
        font-size: 2.5vw;
    }

    #reference-one p {
        font-size: 3vw;
    }

    #btn-one {
        font-size: 3vw;
        width: 50%;
        height: 6vw;
        padding: 1.5% 7%;
    }

    #seven {
        height: 400vw;
    }

    .pic {
        width: 100%;
        height: 16.6%;
    }
    
    #eight {
        height: 120vw;
        display: block;
    }
    
    #container-eight {
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        margin-top: 5vw;
    }

    #content-left {
        width: 100%;
        height: 5%;
    }

    #content-left #inner {
        height: 20%;
    }

    #content-left #inner p {
        font-size: 6vw;
    }

    #content-mid {
        width: 100%;
        height: 30%;
    }

    #content-mid p {
        font-size: 3vw;
    }

    #content-right {
        width: 100%;
        height: 30%;
    }

    #content-right p {
        font-size: 3vw;
    }

    #content-right #buton {
        font-size: 3vw;
        width: 50%;
        height: 6vw;
        padding: 1.5% 8%;
    }

    #nine {
        height: 120vw;
    }

    #container-nine {
        flex-wrap: wrap;
    }

    #left-nine {
        width: 100%;
        height: 50%;
    }

    #left-nine p {
        font-size: 3.2vw;
    }

    #right-nine {
        width: 100%;
        height: 50%;
        justify-content: start;
    }

    #contact #head {
        font-size: 10vw;
    }

    .social i {
        font-size: 4vw;
    }

    #phone p {
        font-size: 5vw;
    }

    footer {
        height: 8vw;
    }

    #foot-container {
        width: 40%;
        font-size: 3vw;
    }
}